.root {
    -fx-background-color: rgb(255, 255, 255);
}
.text{
    -fx-text-fill: rgb(55, 71, 79);
}

.text.bold {
    -fx-font-weight: bold;
}

.container {
    -fx-padding: 20;
}

.button {
    -fx-background-color: rgb(255, 156, 26);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Tw Cen MT";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.text-field, .password-field {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(55, 71, 79);
    -fx-font-family: "Tw Cen MT";
    -fx-prompt-text-fill: rgb(120, 144, 156);
    -fx-border-radius: 10;
}
